.OuterContainer {
  row-gap: 3em;
}

.TopBar {
  background-color: dodgerblue;
  border-radius: 25px;
}

.Content {
}

h2 {
  font-size: 2.5em;
  font-family: sans-serif;
}

p {
  font-size: 1.2em;
  font-family: sans-serif;
}
