.OuterContainer {
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 3em;
}

.TopBar {
  grid-row: 1 / 2;
  background-color: dodgerblue;
  border-radius: 25px;
}

.Content {
  grid-row: 2 / 2;
}

h2 {
  font-size: 2.5em;
  font-family: sans-serif;
}

p {
  font-size: 1.2em;
  font-family: sans-serif;
}
