<div class="text">
  <h1>Moiré Patterns and Twisted Bilayer Graphene</h1>
  <p>
    This app interactively introduces the principle of Moiré patterns.
  </p>
  <p>
    According to <a href="https://en.wikipedia.org/wiki/Moir%C3%A9_pattern" target="_blank">Wikipedia</a>: " [...] moiré patterns [...] are large-scale interference patterns that can be produced when
    an opaque ruled pattern with transparent gaps is overlaid on another similar pattern."
    In the here shown case the Moiré pattern is produced by overlaying two hexagonal lattice-structures with one another
    twisting the upper one by a chosen angle - try it out!
  </p>

  <h2>Relation to Physics</h2>
  <p>
    The Moiré pattern on the left resembles that of twisted bilayer graphene.
    This is a material that is formed by placing two hexagonal lattices of Carbon atoms
    (so called <a href="https://en.wikipedia.org/wiki/Graphene" target="_blank">Graphene</a>)
    ontop of each other and twisting them.
  </p>
  <p>
    In 2018 the group of <a href="http://jarilloherrero.mit.edu/" target="_blank">Pablo Jarillo-Herrero</a>
    at <a href="https://www.mit.edu/" target="_blank">MIT</a> found fascinating physical properties of this material -
    espacially at a so called <i>magic angle</i> of 1.05° - type it in and look at the pattern!
    They published their results in the journal <a href="https://www.nature.com/articles/nature26160" target="_blank">nature</a> - check it out!.
  </p>

  <p>
    By now there exist many more examples of materials that realize a Moiré pattern.
    Their properties are subject to intense research under the topic of
    <a href="https://en.wikipedia.org/wiki/Twistronics" target="_blank">Twistronics</a>.
  </p>

  <h2>Want to learn more?</h2>
  <p>
    Fell free to contanct me via <a href="mailto: christian.eckhardt@mpsd.mpg.de" target="_blank">mail</a>
    or visit our <a href="https://lab.sentef.org/" target="_blank">group-website</a>.
  </p>
  <p>
    You can check out the code for this animation on
    <a href="https://github.com/ce335805/TBGAnimator" target="_blank">GitHub</a>.
  </p>
</div>
