<div class="text">
  <h2>Twisted Bilayer Graphene</h2>
  <p>Twisted Bilayer graphene is a great material.
    You can read about it here:
    <a href="https://en.wikipedia.org/wiki/Twistronics" target="_blank">Wikipedia - Twistronics</a>
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis neque leo, mollis ac purus sit amet, iaculis mattis
    enim. Cras vitae lorem pretium, iaculis nisl eu, condimentum lacus. Cras bibendum risus turpis, sed fermentum nunc
    cursus et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin efficitur
    justo sit amet lectus cursus pellentesque ut et neque. Praesent sed nisl pharetra lectus interdum sodales. Donec
    fringilla est eget quam molestie, non varius mauris ultricies. Pellentesque habitant morbi tristique senectus et
    netus
    et malesuada fames ac turpis egestas. Aliquam erat volutpat. Sed vitae enim interdum, dignissim massa eget, feugiat
    ipsum. Curabitur vitae porta velit. Pellentesque lacus velit, blandit non felis quis, pharetra bibendum neque. Ut
    convallis ex sit amet lorem tempor volutpat. Sed varius, urna id convallis laoreet, quam leo malesuada diam, non
    luctus quam libero ac libero. Ut id velit augue. Duis porta lectus ac aliquam ultricies.

    Donec fringilla nec justo non porta. Nam nec elit tristique mi aliquet condimentum quis sed lectus. Cras mi justo,
    fermentum quis tempus vel, accumsan quis ligula. Nulla dapibus augue rhoncus, porttitor erat eu, tincidunt dolor.
    Aenean congue, orci malesuada tempus venenatis, leo dolor volutpat ante, eu finibus velit augue et lectus. Quisque
    eleifend erat eu sollicitudin dignissim. Mauris non nunc massa. Cras pharetra tellus mollis convallis porttitor.
  </p>
</div>
